<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img
        class="card-img-top"
        src="<%= greenspace.image%>"
        alt="<%= greenspace.title%>"
      />
      <div class="card-body">
        <h3 class="card-title"><%= greenspace.title %></h3>
        <p class="card-text"><%= greenspace.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= greenspace.location %></li>
        <li class="list-group-item">
          Submitted by <%= greenspace.author.username %>
        </li>
        <li class="list-group-item">Entrance Fee: €<%= greenspace.fee %></li>
      </ul>
      <% if(currentUser && greenspace.author.equals(currentUser._id)) {%>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/greenspaces/<%=greenspace._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/greenspaces/<%=greenspace._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <form
      action="/greenspaces/<%=greenspace._id%>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <h2>Leave a Review</h2>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          class="form-range"
          type="range"
          name="review[rating]"
          id="rating"
          min="1"
          max="5"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Add Review</button>
    </form>
    <% for (let review of greenspace.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Rating: <%= review.rating %></h4>
        <p class="card-text">Review: <%= review.body %></p>
        <form
          action="/greenspaces/<%=greenspace._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
