<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/stars.css" />
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <% for (let image of greenspace.images) { %>
      <img
        class="card-img-top"
        src="<%= image.url%>"
        alt="<%= greenspace.title%>"
      />
      <% } %>
      <div class="card-body">
        <h3 class="card-title"><%= greenspace.title %></h3>
        <p class="card-text"><%= greenspace.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= greenspace.location %></li>
        <li class="list-group-item">
          Submitted by <%= greenspace.author.username %>
        </li>
        <li class="list-group-item">Entrance Fee: €<%= greenspace.fee %></li>
      </ul>
      <% if(currentUser && greenspace.author.equals(currentUser._id)) {%>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/greenspaces/<%=greenspace._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/greenspaces/<%=greenspace._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer">2 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <% if(currentUser) {%>
    <form
      action="/greenspaces/<%=greenspace._id%>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <h2>Leave a Review</h2>
      <div class="mb-3">
        <fieldset class="starability-basic">
          <legend>Rating:</legend>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Add Review</button>
    </form>
    <% } %> <% for (let review of greenspace.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= review.author.username %></h4>
        <p class="starability-result" data-rating="<%= review.rating%>">
          Rated: <%= review.rating %> stars
        </p>
        <p class="card-text">Review: <%= review.body %></p>
        <% if(currentUser && review.author.equals(currentUser._id)) { %>
        <form
          action="/greenspaces/<%=greenspace._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
